@use "../abstracts/variables" as variables;

.btn-dark,
.btn-outline-dark {
    &:hover {
        background-color: variables.$primary;
        border-color: variables.$primary;
    }
}

.btn-logout,
.btn-reset,
.btn-clear {
    &:hover {
        background-color: variables.$danger;
        border-color: variables.$danger;
    }
}

.btn-cancel,
.btn-return {
    &:hover {
        background-color: variables.$dark;
        border-color: variables.$dark;
    }
}